/* Variables */

// Colors
$color-body-bg: #fff; // #e9ebee;
$color-hero-lighting: #b9c4d2; //#d5dde4;
$color-module-shadow: darken($color-body-bg,5%);
$color-header-bg : #3493c1; // #374550;
$color-accent: #789;
$color-default-link: #3c9ac9;
$color-default-link-hover: #2a6d8e;
$color-secondary-link: #004b95;
$color-off-white: #f2f2f2;
$color-lightest-grey: #ddd;
$color-lighter-grey: #bbb;
$color-light-grey: #999;
$color-medium-grey: #666;
$color-dark-grey: #333;
$color-main-green: #4ea949;
$color-lightest-blue: #e7ebf2;
$color-error-red: #f07479;
$color-figma-grey: #e6e6e6;


// Fonts
$font-stack-default: "Rubik", "Helvetica Neue", Arial, sans-serif;
$font-size-smallest: 0.8em; // 9px;
$font-size-small: 1em; // 11px; // 0.688rem;
$font-size-regular: 1.25em; // 12px; // 0.813rem;
$font-size-medium: 1.3em; // 15px; // 1rem;
$font-size-large: 1.5em; // 20px; // 1.25rem;
$font-size-xlarge: 1.7em; // 24px; // 1.5rem;
$font-size-xxlarge: 2em;

$font-size-sub-title: 2.25em;
$font-size-title: 2.75em;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-default: 1.2;
$line-height-paragraph: 1.4;



// Layout
$spacing-smallest: 2px;
$spacing-smaller: 5px;
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;
$spacing-larger: 30px;
$spacing-largest: 50px;

$spacing-max-width: 1280px;

$section-padding: ($spacing-largest * 2);


// Box Shadow
$box-shadow-default: 0 0 10px 2px $color-hero-lighting;
$box-shadow-large: 0 0 40px 10px $color-hero-lighting;


// Animation
$animation_duration_default : 1s;

$animation_easing_default: cubic-bezier(0.390, 0.575, 0.565, 1.000);


// Breakpoints
$breakpoint-mobile-max: 767px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1060px; //1279px;
$breakpoint-desktop-min: 1061px; // 1986px; // 1280px; // 996px;
