/* Imports */
@import "../style/variables";
@import "glide/glide.core.scss";
@import "glide/glide.theme.scss";

header{
    display: none;
}

body{
    position: relative;
    margin-top: 0;
    padding: 0 $spacing-largest 50px;
    border-top: none;
}

main{
    justify-content: center;
    width: 100%;
    margin-left: 0;

}

.pane.title-pane{
    width: 350px;
    margin-left: 0;
    padding-top: 0;

    .hero{
        margin-top: 0;
        padding-top: $spacing-larger !important;
        padding-left: $spacing-largest;
        padding-right: $spacing-largest;
        background-size: contain !important;
    }

    .hero.intro{
        background-color: #6eaef5;
    }

    .hero.vmware{
        background-color: #005596;
    }

    .hero.genie{
        padding-bottom: 300px;
        background-color: #4a44b0;
    }

    .hero.design{
        padding-bottom: 350px;
        background-color: #14181E; // #030400;
    }

    .hero.agentyc{
        padding-bottom: 300px;
        background-color: #5d6593;
    }

    .hero.wyb{
        padding-bottom: 250px;
        background-color: #4994C5;
    }

    .hero.deepcase{
        background-color: #0c0b11;
    }

    .submenu{
        display: none;
        font-size: $font-size-smallest;
        margin-left:0;
        padding-left: 0;
        border: none;
        list-style: none;

        li{
            margin-bottom: $spacing-medium;
        }
    }

    .show-submenu .submenu{
        display: block;
        //max-height: 150px;
        //overflow-y: scroll;
    }

    li{
        a{
            display: block;
            color: white;
            opacity: 0.5;
    
            &.active{
                opacity: 1;
                border-bottom: 1px solid white;
            }
        }

        li{
            margin:$spacing-small 0 $spacing-small $spacing-large !important;

            a{
                font-size: $font-size-smallest;

                &.active{
                    border: none !important; // lighten(#4a44b0,10%);
                }
            }
        }
    }

    .vmware{
        background: url("images/hilltop.jpg") bottom center no-repeat;
        background-size: cover;
        color: white;
    }

    .design{
        background: url("images/design-2.png") bottom center no-repeat;
        background-size: cover;
        color: white;
    }

    .agentyc{
        background: url("images/agentyc/agentyc-hero.jpg") bottom center no-repeat;
        background-size: cover;
        color: white;
    }

    .wyb{
        background: url("images/vision-2.jpg") bottom center no-repeat;
        background-size: cover;
        color: white;
    }

    .oasis{
        background-color: #ccdbe2;
        background-size: cover;
        color: black;

        a{
            color: black;

            &.active{
                border-color: black;
            }
        }
    }

    .deepcase{
        background: url("images/deepcase-bg-2.jpg") center bottom no-repeat;
        color: white;
    }
}

.pane.content-pane{
    width: 100% !important;
    margin-left: $spacing-largest;
    padding-top: $spacing-larger;
}

.page-title{
    margin-top: 0 !important;
    margin-bottom: $spacing-largest !important;
    opacity: 0.5;
}

.slide-title{
    margin-bottom: $spacing-largest;
    font-size: $font-size-xxxlarge;
    //font-weight: $font-weight-light;
    line-height: 1.2;
}

.role-based-title{
    margin-bottom: $spacing-largest;

    .media-left{
        margin-right: $spacing-medium;
    }

    .slide-title{
        margin-bottom: 0 !important;
    }
}

.intro-container{
    margin-top: 0;
}

.project-phase-description{
    margin-top: $spacing-larger !important;
}

.negative-margin-above{
    margin-top: -14px;
}

.stat-container{
    display: flex;
    justify-content: center;
    align-items: center;

    .stat-icon{
        margin-right: $spacing-large;
        width: 25px;
        height: 100%;
    }

}

p.lead{
    font-family: "Roboto";
}

.marker-highlight{
    border-radius: $spacing-smaller;
    font-weight: 400;
}

.marker-highlight.pm{
    background-color: $color-lightest-green;
}

.marker-highlight.ux{
    background-color: $color-lightest-blue;
}

.media img{
    border-radius: $spacing-smaller;
}

.object-icon{
    opacity: 0.3;
}

.vertically-centered-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-larger;
}

dl.well{
    padding: $spacing-large;

    dt{
        border-bottom: none;
    }

    dd{
        font-size: $font-size-large;
        line-height: $line-height-paragraph;
    }
}

.well hr{
    background: $color-lightest-grey;
}

table{
    width: 100%;

    td{
        padding: $spacing-small;
    }

    thead td{
        background: $color-lightest-blue;
    }

    tbody td{
        font-size: $font-size-medium;
        border-bottom: 1px solid $color-lightest-grey;
    }
}

.big-list li{
    font-size: $font-size-xlarge;
}

.align-top{
    align-items: flex-start;
}

.how-it-works{
    flex-direction: row;

    .object{
        margin-right: $spacing-medium;
    }

    .object:last-child{
        margin-right: 0;
    }
}

.text-color-secondary{
    color: $color-tertiary-text !important;
}

em{
    display: inline-block;
    color: $color-tertiary-text;
    font-size: $font-size-smallest;
    font-family: monospace;
    font-style: normal;
}

button.btn-ghost{
    background: white;
    color: #004b95;
    border-color: #004b95;

    &:hover{
        background: #004b95;
        color: white;
    }
}

.nav-instructions{
    display: flex;
    padding: $spacing-medium 0;
    justify-content: center;
    align-items: center;
    color: $color-tertiary-text;

    img{
        display: inline-block;
        margin-right: $spacing-smaller;
        opacity: 0.3;
    }
}

img.bordered{
    border: 1px solid $color-lightest-grey;
}


/*footer{
    position: fixed;
    bottom: $spacing-medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding: $spacing-small;
    background: white;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: $spacing-small;
    color: $color-default-text;
    text-align: center;
    z-index: 1000;
}*/
