$color-body-bg: white; // #fff; // #e9ebee;
$color-card-bg: darken($color-body-bg,5%);
$color-dark-separator: lighten($color-body-bg,10%); // #21333B;
$color-hero-lighting: #b9c4d2; //#d5dde4;
$color-module-shadow: darken($color-body-bg,5%);
$color-header-bg : #3493c1; // #374550;
$color-accent: #f66c3e; // #789;
$color-accent-lightest: lighten($color-accent,30%);
$color-default-text: #333;
$color-secondary-text: #777;
$color-tertiary-text: #999;
$color-default-link: #004b95; // #2D9CDB; // #3c9ac9;
$color-default-link-hover: #2a6d8e;
$color-secondary-link: #004b95;
$color-off-white: #f2f2f2;
$color-lightest-grey: #ddd;
$color-lighter-grey: #bbb;
$color-light-grey: #999;
$color-medium-grey: #666;
$color-steel-grey: #456;
$color-dark-steel-grey: #234;
$color-dark-grey: #333;
$color-main-green: #4ea949;
$color-lightest-blue: #c8dafa;
$color-lightest-green: #e7f2e7;
$color-error-red: #f07479;
$color-figma-grey: #e6e6e6;
$color-notepad-yellow: #f8eecf;

$gradient-color-mesh: linear-gradient(to top right, #8938A1, #cc1a23, $color-accent);
$gradient-notepad: linear-gradient(to top right, $color-accent 50%, $color-notepad-yellow);
$kr_mesh_gradient: linear-gradient(to top right, #64064B, #cc1a23, $color-accent);


// Fonts
$font-stack-default: "Onest", "Helvetica Neue", Arial, sans-serif;
$font-stack-title: "Onest"; // "Cairo";
$font-size-smallest: 0.8em; // 9px;
$font-size-small: 1em; // 11px; // 0.688rem;
$font-size-regular: 1.2em; // 12px; // 0.813rem;
$font-size-medium: 1.3em; // 15px; // 1rem;
$font-size-large: 1.5em; // 20px; // 1.25rem;
$font-size-xlarge: 1.7em; // 24px; // 1.5rem;
$font-size-xxlarge: 2em;
$font-size-xxxlarge: 2.8em;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$line-height-default: 1.4;
$line-height-paragraph: 1.6;



// Layout
$spacing-smallest: 1px;
$spacing-smaller: 5px;
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;
$spacing-larger: 30px;
$spacing-largest: 50px;

$spacing-max-width: 1000px; // 1280px;

$section-padding: ($spacing-largest * 2);


// Box Shadow
$box-shadow-default: 0 0 10px 2px $color-hero-lighting;
$box-shadow-large: 0 0 40px 10px $color-hero-lighting;


// Animation
$animation_duration_default : 1s;

$animation_easing_default: cubic-bezier(0.390, 0.575, 0.565, 1.000);


// Breakpoints
$breakpoint-mobile-max: 767px;
$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1060px; //1279px;
$breakpoint-desktop-min: 1061px; // 1986px; // 1280px; // 996px;
