/* Imports */
@import "_reset";
@import "_variables";
@import "_utilities";
//@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


.site-container{
  max-width: 1280px
}

header{
  @extend .flex;
  @extend .flex-center-align;

  //max-width: 1280px;

  @media(max-width:$breakpoint-tablet-max){
    justify-content: center;
    width: 100%;
  }

  .intro-container{
    //@extend .padded-above-large;
    //@extend .padded-below-large;

    width: 100%;
  
    .page-title{
      color: $color-steel-grey;
    }
  
    .page-subtitle{
      color: #456
    }
  }

  .brand-container{
    @extend .flex;
    //@extend .flex-center;
    @extend .flex-center-align;
   
    margin-bottom: $spacing-largest;
    font-size: large;
    filter: grayscale(1);
    opacity: 0.3;

    @media(max-width:$breakpoint-tablet-max){
      justify-content: center;
      text-align: center;
    }

  }

  .hero-photo{
    display: none;
    @extend .margin-left-largest;
  
    max-width: 300px;
    height: fit-content;
    border-radius: 0 0 $spacing-large $spacing-large;

    @media(max-width:$breakpoint-tablet-max){
      display: none;
    }
  }
}

.hstack-container{
  @extend .flex;

  background: $color-dark-separator radial-gradient(circle at 50% 50%, $color-lightest-grey, $color-body-bg); //$color-lightest-grey;
  padding: $spacing-smallest 0;

  @media (max-width: $breakpoint-tablet-max){
    flex-direction: column;
    padding: $spacing-smallest 0;
  }

  .column{ 
    flex-grow: 1;
    width: 100%;
    align-items: center;
    margin-right: $spacing-smallest;
    padding: $spacing-medium 0;
    background-color: white;

    @media (max-width: $breakpoint-tablet-max){
      margin-bottom: 0;
      margin-right: 0 !important;
      padding: $spacing-large 0 0 !important;

      .btn-ghost{
        margin-bottom: $spacing-larger;
      }
    }

    .app-icon{
      width: $spacing-largest;
      height:  $spacing-largest;
    }

    .full-width-img{
      width: 100%;
      border-radius: $spacing-large;
      box-shadow: 0 0 20px 2px $color-figma-grey;
    }
  }

  &.competitor-analysis{
    background: $color-dark-separator radial-gradient(circle at 50% 50%, $color-lighter-grey, $color-body-bg); //$color-lightest-grey;

    @media (max-width: $breakpoint-tablet-max){
      padding: 0;
      background: none;
      border: none;
    }

    .column{
      padding: $spacing-larger;
      //padding-bottom: 0;

      @media (max-width: $breakpoint-tablet-max){
        margin-bottom: $spacing-largest;
        padding-bottom: 0 !important;
      }
    }
  }

  &.case-studies{
    .column{
      @extend .flex;
      @extend .flex-vertical;

      justify-content: flex-start;
      align-items: start;

      padding: $spacing-largest;

      @media (max-width: $breakpoint-tablet-max){
        justify-content: center;
        align-items: center;
        padding-bottom: calc($spacing-largest*2) !important;
      }

      img{
        margin-bottom: $spacing-large;
      }

      .stat-number{
        display: block;
        margin-bottom: $spacing-large !important;

        @media (max-width: $breakpoint-tablet-max){
          text-align: center !important;
        }
      }

      .stat-number, .stat-title{
        text-align: left;
      }

    }
  }

  &.grayscale-images{
    
    .column{
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    img{
      filter: grayscale(1);
      opacity: 0.7;
    }
  }

  ul{
    text-align: left
  }
}

.emoji-stack{
  @extend .flex;
  @extend .flex-center-align;

  margin-top: $spacing-medium;
  color: $color-secondary-text;
  font-size: $font-size-medium;
  text-align: left;

  .emoji{
    font-size: $font-size-large;
  }
}

.goals-list{
  @extend .flat-list; 
  @extend .margin-above-largest;

  li{
    margin-bottom: $spacing-larger;
    font-size: $font-size-xlarge;
  }
}

.app-icon-container{
  @extend .flex;
  @extend .margin-below-large;

  align-items: center;

  .app-icon-title{
    @extend .margin-left;

    font-size: $font-size-large;
    font-family: $font-stack-title;
    font-weight: bold;
    color: $color-steel-grey;
  }
}

.stat-number, .stat-title, .stat-desc{
  @extend .text-center;
  margin-bottom: $spacing-smallest !important;
}

.stat-number{
  font-family: $font-stack-title;
  font-size: $font-size-large;
  color: $color-steel-grey;
}

.stat-title{
  font-size: $font-size-small;
  color: $color-secondary-text
}

.stat-desc{
  margin-bottom: 0 !important;
  font-size: $font-size-small;
  color: $color-light-grey;
}

.section-title{
  @extend .page-title;
  
  margin-bottom: $spacing-medium;
  font-size: $font-size-xlarge;
  font-weight: 400;
  color: $color-steel-grey;
}

.award-banner{
  @extend .flex; 
  @extend .margin-above-larger;
  @extend .margin-below;
  align-items: center;
  opacity: 0.5;
  //background: $color-accent-lightest;
  //border-left: 5px solid $color-accent;

  img{
    @extend .margin-right-small;
    margin-bottom: 0 !important;
  }

  @media (max-width: $breakpoint-mobile-max){
    justify-content: center;
  }
}


// General
body{
  @extend .flex;

  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0 auto;
  padding: $spacing-largest;
  background: $color-body-bg;
  font: #{$font-size-regular} $font-stack-default;
  line-height: $line-height-default;
  color: $color-default-text;
  //border-top: 10px solid;
  cursor: default;
  scroll-behavior: smooth;
  text-align: left;

  @media (max-width: $breakpoint-tablet-max){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacing-large;
    overflow-x: hidden;
    border-top: none !important;
    text-align: center;
  }

  @media (min-width: $breakpoint-desktop-min){
    align-items: center;
  }
}


.pane{
  margin-left: $spacing-largest;
  padding-top: $spacing-larger;
  //padding: $spacing-largest $spacing-large;

  &.title-pane{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 400px;

    .hero-cta, p, .profile-picture{
      margin-bottom: $spacing-large;
    }

    .hero-cta a{
      @media (max-width: 1420px){
        display: block;
        width: 100%;
        margin:0 0 $spacing-medium 0;
        text-align: center;
      }
    }

    .page-title{
      margin: $spacing-smaller 0 $spacing-small;
    }

    .profile-picture{
      border-radius: $spacing-medium;
    }

    @media (max-width: $breakpoint-tablet-max){
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }

  &.content-pane{
    width: 100%;
    margin-right: $spacing-largest;

    p{
      max-width: 1000px;
    }

    @media (max-width: $breakpoint-tablet-max){
      margin: 0;
    }

  }

  @media (max-width: $breakpoint-tablet-max){
    margin-left: 0;
    padding: $spacing-medium;
  }

}


.hero{
  margin-top: -($spacing-largest);
  padding: $spacing-largest $spacing-largest 500px $spacing-largest;
  color: white;
  border-radius: 0 0 $spacing-medium $spacing-medium;

  p{
    color: white;
  }

  .btn-ghost{
    color: white;
    border-color: white;

    &:hover{
      background-color: white;
      color: $color-default-link;
    }
  }

  &.intro{
    background: url("../images/kr-hero.jpg") no-repeat center bottom;
    background-size: cover;
  }

  &.genie{
    background: url("../images/projects/genie/genie-hero.jpg") no-repeat center bottom;
    background-size: cover;
  }

  &.oasis{
    background: url("../images/projects/oasis/oasis-hero.jpg") no-repeat center bottom;
    background-size: cover;
  }

  &.source{
    background: url("../images/projects/source/source-hero.jpg") no-repeat center bottom;
    background-size: cover;
  }

  &.porsche{
    background: url("../images/projects/configurator/porsche-hero.jpg") no-repeat center bottom;
    background-size: cover;
  }

  &.oasis, &.source{
    color: $color-default-text;

    p{
      color: $color-default-text !important;
    }

    .btn-ghost{
      color: $color-default-link;
      border-color: $color-default-link;
  
      &:hover{
        background-color: $color-default-link;
        color: white;
      }
    }

    @media (max-width: $breakpoint-tablet-max){
      color: white !important;

      p{
        color: white !important;
      }

      .btn-ghost{
        color: white;
        border-color: white;
    
        &:hover{
          background-color: $color-default-link;
          color: white;
        }
      }
    }
  }

  @media (min-width:1061px) and (max-width: 1230px){
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }

  @media (max-width: $breakpoint-tablet-max){
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: $spacing-medium;
    background: #234 !important;
    text-align: center;
    border-radius: 0;
  }

  
}


.highlights{
  margin-left: $spacing-large;
  //padding: $spacing-largest $spacing-large 0;

  ul li{
    color: black;
  }

  .media-left{
    margin-right: $spacing-large;
  }

  img{
    opacity: 0.5;
  }
}


main{
  @extend .flex;
	justify-content: start;
  align-items: stretch;
  margin-left: $spacing-largest;

  @media (max-width: $breakpoint-tablet-max){
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}


section{
	width: 100%;
  //max-width: $spacing-max-width;
	padding: $spacing-largest;
  padding-left: 0;
  padding-right: 0;

	&.compact{
		padding: $spacing-large $section-padding;
	}

	&.section-separator{
		@extend .flex-around;
		@extend .row-to-column;
		padding-top: $spacing-large;
		padding-bottom: $spacing-large;
		//background: $color-hero-lighting;
		color: $color-steel-grey;
		text-align: center;
	}

	&.plain{
		position: relative;
		padding: 0;
		line-height: 0;
	}

  &#work{
    @extend .flex-vertical;
    align-items: center;
  }

	@media (max-width: $breakpoint-tablet-max){
		padding: $spacing-largest $spacing-larger;
	}

	@media (max-width: $breakpoint-mobile-max){
		padding: $spacing-largest $spacing-large;
	}

}

article{
  flex-grow: 3;

  @media (min-width:$breakpoint-desktop-min){
    max-width: 70%;
  }

  @media (max-width:$breakpoint-desktop-min){
    max-width: 100%;
    order:2;
  }
}


.marquee{
  @extend .margin-above-large;
  @extend .margin-below-large;
  width: 100%;
  max-width: $spacing-max-width;
  //background: radial-gradient(circle at center, lighten($color-body-bg,2%), $color-body-bg 70%);
  background: $color-body-bg;
  color: $color-default-text; //$color-tertiary-text;
  overflow: hidden;

  hr{
    margin: 0 !important;
  }

  .marquee-items{
    @extend .flex-spread;
    @extend .margin-above;
    @extend .margin-below;

    .media{
      align-items:center;
    }

    .marquee-icon{
      width: 24px;
    }

    @media(max-width:$breakpoint-mobile-max){
      flex-direction: column !important;
    }
  }
}


aside{
  flex-grow: 1;

  @media (min-width:$breakpoint-desktop-min){
    margin-left: $spacing-medium;
  }

  @media (max-width:$breakpoint-desktop-min){
    flex-grow: 3;
    order:1;
  }
}


footer{
  @extend .margin-above;
  @extend .padded-above;
  width: 100%;
  font-size: $font-size-small;
  color: $color-tertiary-text;
  border-top: 1px solid $color-lightest-grey;
  text-align: center;
}


.gradient-bg{
  position: absolute;
  z-index: 1;
  width: 220px;
  height: 220px;
  //margin: 0px 0 0 40px;
  background: $gradient-color-mesh;
  box-shadow: 0 0 $spacing-medium $spacing-smaller darken($color-body-bg, 5%);
  //background: radial-gradient(circle, #64064B 30%, #cc1a23 60%, #f66c3e 90%);
  //border-radius: 10px;
  //transform: rotate(-10deg);
  transform-origin: center;
  transition: transform 1s;

  @media(max-width:$breakpoint-mobile-max){
    //width: 220px;
    //height: 220px;
    //margin: -215px 0 0 -10px;
    //transform: rotate(0);
  }
}

.bottom-aligned{
  @extend .margin-above-largest;
  text-align: center;

  .back-to-top{
    display: inline-block;
    text-align: center;
  
    @media (max-width: $breakpoint-tablet-max){
      display: none;
    }
  }
  
}

.confidential{
  @extend .padded;
  background: $color-notepad-yellow;
  border-radius: $spacing-medium;

  img{
    float: left;
    margin-right: $spacing-small
  }
}

.vertical-separator{
  width: 1px;
  height: 100%;
  background: $color-dark-separator radial-gradient(circle at 50% 50%, $color-lightest-grey, $color-body-bg); //$color-lightest-grey;
}



/* Intro
.intro-container{
  justify-content: stretch;
  margin-top: $spacing-large;

  .vertical-separator{
    @extend .margin-sides;
  }

  .resume-highlights{
    display: none;
    width: 40%;
  }

  
} */


/* Project */
.project-card{
  @extend .flex;
  max-height: 300px;
  overflow: hidden;
  margin-top: $spacing-largest;
  padding: $spacing-largest $spacing-largest 0;
  background-color: $color-off-white;
  border-radius: $spacing-medium;

  &.left-aligned .project-media{
    margin-right: $spacing-largest;

    @media (max-width: $breakpoint-mobile-max){
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.left-aligned{
    @media (max-width: $breakpoint-mobile-max){
      flex-direction: column-reverse;
    }
  }

  &.right-aligned .project-media{
    margin-left: $spacing-largest;

    @media (max-width: $breakpoint-mobile-max){
      margin: $spacing-medium 0 0;
    }
  }

  .project-media img{
    width: 375px;
  }

  .project-text{
    padding-bottom: $spacing-largest;

    @media (max-width: $breakpoint-mobile-max){
      padding-bottom: $spacing-medium;
    }
  }

  .project-title{
    @extend .margin-below;
    display: block;
    font-family: $font-stack-title;
    font-size: $font-size-large;
  }

  
  &.karaoke-card{
    max-height: fit-content !important;

    video{
      border-radius: $spacing-small
    }

    .video-caption{
      @extend .margin-above-small;
      font-size: $font-size-small;
      text-align: center;
    }
  }

  @media (max-width: $breakpoint-mobile-max){
    flex-direction: column;
    max-height: fit-content;
    padding: $spacing-large $spacing-medium 0;
    text-align: center;
    border-radius: $spacing-medium $spacing-medium 0 0;
  }

}

.project-phase-description{
  @extend .margin-above-largest;
}

.project-phase-timeline{
  @extend .flex-stretch; 
  @extend .row-to-column;

  .media{
    flex-direction: column;

    img{
      @extend .margin-above-smaller;
      @extend .margin-below-smaller;
      height: $spacing-largest;
    }
  }

  .media-body{
    padding: $spacing-small !important;
    text-align: center;
    
    .quote{
      font-size: $font-size-small;
    }

    @media (max-width:$breakpoint-tablet-max){
      width:100%;
    }
  }
}

.project-meta{
  @extend .flex;
  @extend .row-to-column;  
  @extend .margin-above-largest;

  dl{
    flex-grow: 1;
    margin: 0 $spacing-largest 0 0;
    padding: 0;

    dt{
      padding-bottom: $spacing-smallest;
      border-bottom: 1px solid $color-lightest-grey;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}


.inline-role-highlight{
  display: inline-block;
  padding: $spacing-smallest $spacing-medium;
  //border: 1px solid;
  border-radius: $spacing-larger;

  &.pm{
    background-color: $color-lightest-green;
    color: $color-main-green;
    border-color: $color-main-green;
  }

  &.ux{
    background-color: $color-lightest-blue;
    color: $color-default-link;
    border-color: $color-default-link;
  }
}

.role-avatar{
  display: inline-block;
  padding: $spacing-smaller;
  font-size: $font-size-smallest;
  border: 1px solid;
  border-radius: $spacing-larger;

  &.pm{
    background-color: $color-lightest-green;
    color: $color-main-green;
    border-color: $color-main-green;
  }

  &.ux{
    background-color: $color-lightest-blue;
    color: $color-default-link;
    border-color: $color-default-link;
  }
}


.marker-highlight{
  //display: inline-block;
  padding: 0 $spacing-smaller;
  background-color: $color-notepad-yellow;
  color: black;
}


.genie-process{

  .media-large{
    flex-direction: row-reverse;

    .media-left{
      margin-right: 0;
    }

    .media-body{
      margin: 0 $spacing-medium 0 0;
    }

    @media (max-width: $breakpoint-mobile-max){
      flex-direction: column-reverse;
      align-items: start;

      .media-left, .media-left img{
        width: 100%;
      }
    }


  }

}


.skills-container{
  @extend .flex; 
  @extend .flex-spread; 
  @extend .row-to-column; 
  @extend .margin-above; 
  @extend .margin-below;

  img{
    filter: grayscale(1);
    opacity: 0.7;

    @media (max-width: $breakpoint-mobile-max){
      margin-bottom: $spacing-medium;
    }
  }

  @media (max-width: $breakpoint-mobile-max){
    justify-content: center !important;
    align-items: center;
  }
}